In [4]:
from pyspark.sql import SparkSession

In [7]:
spark= SparkSession.builder.appName('Dataframe').getOrCreate()

In [8]:
spark

In [12]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [13]:
## check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [16]:
## 2nd way to read schema
df_pyspark=spark.read.csv('test1.csv', header=True,inferSchema=True)
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [17]:
## check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [18]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [21]:
df_pyspark.head(3)

[Row(Name='Krish', Age=31, Experience=10),
 Row(Name='Sudhanshu', Age=30, Experience=8),
 Row(Name='Sunny', Age=29, Experience=4)]

In [22]:
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [27]:
df_pyspark.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
+---------+----------+

In [28]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [32]:
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| Name| Age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| NULL|30.0|7.333333333333333|
| stddev| NULL| 1.0|3.055050463303893|
|    min|Krish|  29|                4|
|    max|Sunny|  31|               10|
+-------+-----+----+-----------------+

In [35]:
## Adding columsn in dat frame
df_pyspark=df_pyspark.withColumn('Experience After 2 years',df_pyspark['Experience']+2)

In [36]:
df_pyspark.show()

+---------+---+----------+------------------------+
|     Name|Age|Experience|Experience After 2 years|
+---------+---+----------+------------------------+
|    Krish| 31|        10|                      12|
|Sudhanshu| 30|         8|                      10|
|    Sunny| 29|         4|                       6|
+---------+---+----------+------------------------+

In [38]:
### Drop the columns

df_pyspark=df_pyspark.drop('Experience After 2 years')

In [40]:
## Rename the columns
df_pyspark=df_pyspark.withColumnRenamed('Name','New Name')

In [41]:
df_pyspark.show()

+---------+---+----------+
| New Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [43]:
### Pyspark Handling Missing Values
    ## Dropping Columns
    ## Dropping Rows
    ## Various Paramenter in Dropping functionalities
    ## Handling Missing values by Mean, Median and Mode